.heading {
  font-size: 2rem;
  color: black;
}

.list {
  list-style: none;
}

.listedElement {
  width: 60ch;
  padding: 6px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px dotted black;

  button {
    background: #ff4742;
    border: 1px solid #ff4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
  }
}
