.listedWrapper {
  width: 60ch;
  padding: 6px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2:hover {
    text-decoration: underline;
  }

  button {
    cursor: pointer;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
  }
}
